.git
.gitignore
.dockerignore

.dev/
logs/
vpngate_data/
akiragate_data/
docker-data/

frontend/node_modules/
frontend/dist/
userspace-gateway/akiragate-server
userspace-gateway/akiragate-gateway

*.deb
akiragate_*
*.log
*.tmp
*.pid
*.bak
*.orig

.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini
